header {
  height: 400px;
  width: 100%;
  padding-top: 50px;
  color: white;
  background-color: #5b00d1;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}