#profile {
  height: 400px;
  width: 100%;
  color: white;
  background-color: lightsalmon;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#profile.dark-mode {
  background-color: rgba(59, 7, 59, 0.438);
}